{% extends "templates/partials/base.twig" %}

{% block main %}

    <div class="form-wizard" id="travel-form">
        <div class="container py-5">
            <h1>Travel Insurance</h1>
            {% include "templates/components/steppers.twig" %}
        </div>

        <div class="bg-p2d py-5 wizard-sections">
        
            <div class="wizard-section-1" :class="{ 'd-none': currStep && currStep.step !== 1 }">
                <div class="container">
                    <div class="bg-w py-5 px-4">
                        <h2 class="p2">Get Started</h2>
                    
                        <div :class="{
                            'bt2': true,
                            'd-none': !showGetStartedConsent
                        }">
                            <p>
                                Please make sure you meet the following conditions:
                            </p>
                            <ol class="pl-3">
                                <li>The journey you intend to insure begins and ends in Malaysia, except for Single Trip One-Way Cover.</li>
                                <li>You are between 18 and 69 years old.</li>
                            </ol>
                            <p><strong>Note:</strong></p>
                            <p>Please contact _____ for your insurance application if:</p>
                            <ol class="roman pl-3">
                                <li>You are above 69 years old; <strong>OR</strong></li>
                                <li>You are purchasing travel insurance only for your child (below 18 years old).</li>
                            </ol>
                        </div>

                        <div :class="{
                            'bt2': true,
                            'd-none': showGetStartedConsent
                        }">
                            <p>Please enter the details of the Insured Person</p>
                            <div class="d-flex mb-3">
                                <div class="form-check mr-5">
                                    <input class="form-check-input" type="radio" name="id_type" value="Y" id="malaysian" v-model="formData.idType">
                                    <label class="form-check-label" for="malaysian">NRIC</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="id_type" value="N" id="no_malaysian" v-model="formData.idType">
                                    <label class="form-check-label" for="no_malaysian">Passport</label>
                                </div>
                            </div>

                            <div class="d-flex" v-if="formData.idType === 'Y'">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="nric" placeholder="xxxxxx-xx-xxxx" v-model="formData.nric">
                                    <small class="error-message text-primary font-italic">* Complete the NRIC field.</small>
                                </div>
                            </div>

                            <div v-if="formData.idType === 'N'">
                                <div class="d-md-flex">
                                    <div class="form-group mr-md-3">
                                        {% verbatim %}
                                            <select class="form-control" id="country" name="country" v-model="formData.country">
                                                <option disabled hidden selected value="">Select country</option>
                                                <option>Malaysia</option>
                                            </select>
                                        {% endverbatim %}
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="passport" placeholder="Passport No." v-model="formData.passport">
                                        <small class="error-message text-primary font-italic">* Complete the Passport No field.</small>
                                    </div>
                                </div>
                                <p class="bt1 mb-2">Date of Birth:</p>
                                <div class="d-md-flex">
                                    <div class="mb-4">
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control"
                                                placeholder="DD/MM/YYYY"
                                                :format="customDateFormatter"
                                                v-model="formData.dateOfBirth">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Complete the Date field.</small>
                                    </div>
                                </div>
                            </div>

                            {% verbatim %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="agreement" id="agreement" v-model="formData.pdpaAgreement">
                                <label class="form-check-label" for="agreement">
                                    I have read and understood MSIG's <a href="#" class="underline">Privacy Notice</a> and agree to MSIG processing my personal data for the purposes and in the manners set out in the Privacy Notice.
                                </label>
                                <svg class="icon icon-m tick-mark">
                                    <use xlink:href="assets/icons/icons.svg#sprite-tick-mark" href="assets/icons/icons.svg#sprite-tick-mark"></use>
                                </svg>
                                <small class="error-message text-primary font-italic">* Oops, looks like you haven't ticked the box yet. Please do so to proceed.</small>
                            </div>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" v-if="showGetStartedConsent">No</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="setShowGetStartedConsent(false)" v-if="showGetStartedConsent">Yes</a>
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click="setShowGetStartedConsent(true)" v-if="!showGetStartedConsent">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()" v-if="!showGetStartedConsent">Continue</a>
                </div>
            </div>

            <div class="wizard-section-2" :class="{ 'd-none': currStep && currStep.step !== 2 }">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4 pb-md-2">Choose a Plan</h2>

                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'coverageType',
                                    formControls: [
                                        { value: 'Single Trip' , checked:'checked' },
                                        { value: 'Annual Cover' },
                                    ],
                                    vModel: 'selectedCoverageType',
                                    spacing: 'mb-4 d-flex'
                                } %}

                                {% verbatim %}    
                                    <div class="d-md-flex">
                                        <div class="form-group">
                                            <label class="bt1" for="areaOfCoverage">Area of Coverage :</label>
                                            <select name="areaOfCoverage" id="areaOfCoverage" class="form-control" v-model="formData.areaOfCoverage">
                                                <option :value="area.name" v-for="area in coverageAreas" v-bind:key="coverageAreas.indexOf(area)">
                                                    {{ area.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="bt2">
                                        <p>Locations covered in this area of coverage:</p>
                                        <p>{{ countriesForCurrArea }}</p>
                                    </div>
                                {% endverbatim %}


                                <div class="area-of-coverage text-center mb-5">
                                    <img src="assets/img/area-1.jpg" 
                                        alt="Area 1" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 1'
                                        }">
                                    <img src="assets/img/area-2.jpg" 
                                        alt="Area 2" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 2'
                                        }">
                                    <img src="assets/img/area-3.jpg" 
                                        alt="Area 3" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 3'
                                        }">
                                    <img src="assets/img/area-4.jpg" 
                                        alt="Area 4" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 4'
                                        }">
                                </div>

                                <h2 class="p2 mb-4">Period of Coverage</h2>
                                <div class="row mb-4">
                                    <div class="col-12 col-lg-6">
                                        <p class="bt1">Start Date</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.startDate"
                                                :disabled-dates="calendar.disabledDates">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Complete the Start Date field.</small>
                                    </div>

                                    <div class="col-12 col-lg-6">
                                        <p class="bt1">End Date</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.endDate"
                                                :disabled-dates="endDateDisabledDates"
                                                :disabled="formData.startDate === null"
                                            >
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Complete the End Date field.</small>
                                    </div>
                                </div>
                                <div class="bt2">
                                    <p>Please note that your coverage will terminate at the earliest happening of the following:</p>
                                    <ol class="pl-3">
                                        <li>24 hours upon your arrival in Malaysia</li>
                                        <li>Upon reaching your home or workplace in Malaysia (whichever is the earlier)</li>
                                        <li>Expiry date of your travel insurance policy</li>
                                    </ol>
                                    <p>The following benefits will not be applicable for travel insurance purchased less than 7 days from travel start date:</p>
                                    <ol class="pl-3">
                                        <li>Section 7: Travel Cancellation</li>
                                        <li>Section 14: Loss of Travel Deposit</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Please Select Your Preferred Plan</h2>
                                <div class="selection-infobox-group row">
                                    <div class="col-12 col-lg-4">
                                        <div class="header-match-height d-lg-flex align-items-center mt-5 d-none">
                                            <p class="h2">TravelRight Plus</p>
                                        </div>
                                        <p class="bt1 d-none d-lg-block mb-1">Benefits</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Medical & Other Expenses' },
                                                { iconName: 'tick-mark', content: 'Luggage & Personal Effects' },
                                                { iconName: 'tick-mark', content: 'Luggage & Delay <br/><i>(Every 6 hours)</i>' },
                                                { iconName: 'tick-mark', content: 'Travel Delay <br/><i>(Every 6 hours)</i>' },
                                            ],
                                            class: "d-none d-lg-block"
                                        } %}
                                        <p class="bt2 d-none d-lg-block">View the full benefits <strong><a href="#" class="underline">HERE</a></strong></p>
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-lg-flex">
                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "plan1",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                                vModel: "selectedPlan"
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0 d-lg-none">TravelRight Plus (Plan 1)</h3>
                                                    <h3 class="m-0 d-none d-lg-block">Plan 1</h3>
                                                    <p class="m-0">from <span class="h3">RM39.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'travel-plan1', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Personal Accident</span><span class="ml-2 ml-lg-0">250,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Medical & Other Expenses</span><span class="ml-2 ml-lg-0">1,000,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Personal Effects</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Travel Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}

                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "choosePlan",
                                                value: "plan2",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                                highlight: "Recommended",
                                                vModel: "selectedPlan"
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0 d-lg-none">TravelRight Plus (Plan 2)</h3>
                                                    <h3 class="m-0 d-none d-lg-block">Plan 2</h3>
                                                    <p class="m-0">from <span class="h3">RM58.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'travel-plan2', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Personal Accident</span><span class="ml-2 ml-lg-0">350,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Medical & Other Expenses</span><span class="ml-2 ml-lg-0">1,000,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Personal Effects</span><span class="ml-2 ml-lg-0">7,500</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Luggage & Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Travel Delay<br/><i>(Every 6 hours)</i></span><span class="ml-2 ml-lg-0">200</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}
                                        </div>
                                        <p class="bt2 d-lg-none">View the full benefits <strong><a href="#" class="underline">HERE</a></strong></p>
                                    </div>
                                </div>
                            </div>

                            <div v-if="selectedCoverageType === 'Single Trip'" class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Choose Your Optional Add-On</h2>
                                <div class="selection-infobox-group row">
                                    <div class="col-12 col-lg-4">
                                        <div class="header-match-height">
                                            <p class="h2 mt-5">Sports Fan</p>
                                            <p class="bt1 mb-0 pb-2">Travelling and can't wait to cheer for your favourite sports team? Make sure you are covered with the Sports Fans add-on for additional protection!</p> 
                                        </div>
                                        <p class="bt1 d-none d-lg-block mb-1">Benefits</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Additional Indemnity for Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Extended Accommodation Cover' },
                                                { iconName: 'tick-mark', content: 'Ticket Cover' },
                                                { iconName: 'tick-mark', content: 'Transportation Amendment Fee' },
                                            ]
                                        } %}
                                    </div>
                                    <div class="col-12 col-lg-8">
                                        <div class="d-lg-flex">
                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "chooseOptPlan",
                                                value: "sport_plan1",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                                allowed: "plan1",
                                                vModel: "selectedOptPlan",
                                                uncheckFeature: true
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 1</h3>
                                                    <p class="m-0">+ <span class="h3">RM9.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'sport-plan1', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Additional Indemnity for Personal Accident</span><span class="ml-2 ml-lg-0">250,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Extended Accommodation Cover</span><span class="ml-2 ml-lg-0">200 (per day)</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Ticket Cover</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Transportation Amendment Fee</span><span class="ml-2 ml-lg-0">1,000</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}

                                            {% embed "templates/components/selection-infobox.twig" with {
                                                type: "radio",
                                                name: "chooseOptPlan2",
                                                value: "sport_plan2",
                                                classes: "mb-3 mb-lg-0 mr-lg-3",
                                                allowed: "plan2",
                                                vModel: "selectedOptPlan",
                                                uncheckFeature: true
                                            } %}
                                                {% block top %}
                                                    <h3 class="m-0">Plan 2</h3>
                                                    <p class="m-0">+ <span class="h3">RM15.00</span></p>
                                                {% endblock %}

                                                {% block icon %}
                                                    {% include "templates/components/icon.twig" with { iconName: 'sport-plan2', iconSize: '4xl' } %}
                                                {% endblock %}

                                                {% block bottom %}
                                                    <div class="row py-2">
                                                        <div class="text-left col-6 col-lg-12 d-lg-none">
                                                            <strong class="mr-2 mr-lg-0 bold">Benefits</strong>
                                                        </div>
                                                        <div class="text-right text-lg-center col-6 col-lg-12">
                                                            <strong class="ml-2 ml-lg-0">RM</strong>
                                                        </div>
                                                    </div>
                                                    {% include "templates/components/list-variant-icon.twig" with {
                                                        items: [
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Additional Indemnity for Personal Accident</span><span class="ml-2 ml-lg-0">350,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Extended Accommodation Cover</span><span class="ml-2 ml-lg-0">200 (per day)</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Ticket Cover</span><span class="ml-2 ml-lg-0">5,000</span>' },
                                                            { iconName: 'tick-mark', content: '<span class="mr-2 mr-lg-0 bold d-lg-none">Transportation Amendment Fee</span><span class="ml-2 ml-lg-0">1,000</span>' },
                                                        ],
                                                        listWithLabelValue: true
                                                    } %}
                                                {% endblock %}
                                            {% endembed %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()">Continue</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click="goToPrevStep()">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                </div>
            </div>

            <div class="wizard-section-3" :class="{ 'd-none': currStep && currStep.step !== 3 }">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4">Personal Details</h2>

                                <div class="row" v-if="formData.idType === 'no_malaysian'">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <p class="bt1">Country:</p>
                                            {% verbatim %}
                                            <select v-model="formData.country" class="form-control">
                                                <option disabled hidden selected value="">Select a country</option>
                                                <option v-for="country in allCountries"
                                                    v-bind:key="allCountries.indexOf(country)" :value="country">
                                                    {{ country }}</option>
                                            </select>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="customerName" class="bt1">Name (as per NRIC):</label>
                                            <input id="customerName" type="text" class="form-control"
                                                placeholder="e.g. Henry Teo">
                                            <small class="error-message text-primary font-italic">* Complete the Name as per
                                                NRIC filed. as per card</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="nricNo" class="bt1">NRIC No:</label>
                                            <input id="nricNo" disabled type="text" class="form-control" placeholder="NRIC" v-model="formData.nric">
                                            <small class="error-message text-primary font-italic">* Complete the NRIC field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="customerEmail" class="bt1">Email:</label>
                                            <input id="customerEmail" type="text" class="form-control"
                                                placeholder="e.g. hteoro@gmail.com">
                                            <small class="error-message text-primary font-italic">* Complete the Email
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="mobileNo" class="bt1">Mobile No:</label>
                                            <input id="mobileNo" type="text" class="form-control"
                                                placeholder="e.g. 01x-xxxxxxx">
                                            <small class="error-message text-primary font-italic">* Complete the Mobile
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" v-if="formData.idType === 'no_malaysian'">
                                        <div class="form-group">
                                            <label class="bt1">Gender:</label>
                                            <select class="form-control" v-model="formData.gender">
                                                <option value="" selected disabled hidden>Please select</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>
                                            <small class="error-message text-primary font-italic">* Complete the Gender
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" v-if="formData.idType === 'no_malaysian'">
                                        <p class="bt1 mb-2">Date of Birth:</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control" placeholder="DD/MM/YYYY"
                                                :format="customDateFormatter" v-model="formData.dateOfBirth">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Please enter valid
                                            DOB.</small>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="address1" class="bt1">Address:</label>
                                            <input id="address1" type="text" class="form-control" placeholder="First Line">
                                            <small class="error-message text-primary font-italic">* Complete the Address
                                                field.</small>
                                        </div>
                                        <div class="form-group">
                                            <input id="address2" type="text" class="form-control" placeholder="Second Line">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group variant-icon">
                                            <label for="postcode" class="bt1">Postcode</label>
                                            <div class="input-wrapper">
                                                <input id="postcode" type="text" class="form-control"
                                                    placeholder="Find postcode">
                                                {% include "templates/components/icon.twig" with { iconName: 'search', iconSize: 'm' } %}
                                            </div>
                                            <small class="error-message text-primary font-italic">* Complete the Postal Code
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="city" class="bt1">City:</label>
                                            <input id="city" type="text" class="form-control" disabled placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="state" class="bt1">State:</label>
                                            <input id="state" type="text" class="form-control" disabled placeholder="State">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- dummy html -->
                            <div class="bg-w py-5 px-4 mb-3">
                                {% verbatim %}
                                <h2 class="p2">Family Member #1:</h2>
                                {% endverbatim %}

                                <p class="bt1">Traveller:</p>
                                <div class="d-flex mb-4">
                                    <div class="form-check mb-1">
                                        <input class="form-check-input" type="radio" value="Spouse" checked>
                                        <label class="form-check-label">Spouse</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input class="form-check-input" type="radio" value="Child (30 days - 17 years old)">
                                        <label class="form-check-label">Child (30 days - 17 years old)</label>
                                    </div>
                                </div>

                                <p class="bt1">Nationality:</p>
                                <div class="d-flex mb-4">
                                    <div class="form-check mb-1">
                                        <input type="radio" class="form-check-input" value="Malaysian" checked>
                                        <label class="form-check-label">Malaysian</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input type="radio" class="form-check-input" value="Non-Malaysian">
                                        <label class="form-check-label">Non-Malaysian</label>
                                    </div>
                                </div>

                    
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Name (as per NRIC):</label>
                                            <input type="text" class="form-control" placeholder="e.g. Lisa Teo">
                                            <small class="error-message text-primary font-italic">* Complete the Name as per
                                                NRIC filed.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">NRIC No:</label>
                                            <input type="text" class="form-control" placeholder="e.g. 888888-88-8888">
                                            <small class="error-message text-primary font-italic">* Complete the NRIC
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p class="bt1">Date of Birth:</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control" placeholder="DD/MM/YYYY"
                                                :format="customDateFormatter">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Please enter valid
                                            DOB.</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-primary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Remove</span>
                                    </a>
                                </div>
                            </div>


                            <div class="bg-w py-5 px-4 mb-3">
                                    {% verbatim %}
                                    <h2 class="p2">Family Member #2</h2>
                                    {% endverbatim %}
        
                                    <p class="bt1">Traveller</p>
                                    <div class="d-flex mb-4">
                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" value="Spouse" checked>
                                            <label class="form-check-label">Spouse</label>
                                        </div>
                                        <div class="form-check mb-1">
                                            <input class="form-check-input" type="radio" value="Child (30 days - 17 years old)">
                                            <label class="form-check-label">Child (30 days - 17 years old)</label>
                                        </div>
                                    </div>
        
                                    <p class="bt1">Nationality</p>
                                    <div class="d-flex mb-4">
                                        <div class="form-check mb-1">
                                            <input type="radio" class="form-check-input" value="Malaysian">
                                            <label class="form-check-label">Malaysian</label>
                                        </div>
                                        <div class="form-check mb-1">
                                            <input type="radio" class="form-check-input" value="Non-Malaysian" checked>
                                            <label class="form-check-label">Non-Malaysian</label>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <p class="bt1">Country</p>
                                            <div class="form-group">
                                                {% verbatim %}
                                                <select class="form-control">
                                                    <option disabled hidden selected value="">Select a country</option>
                                                    <option v-for="country in allCountries"
                                                        v-bind:key="allCountries.indexOf(country)" :value="country">
                                                        {{ country }}</option>
                                                </select>
                                                {% endverbatim %}
                                            </div>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label class="bt1">Name (as per Passport):</label>
                                                <input type="text" class="form-control" placeholder="e.g. Lisa Teo">
                                                <small class="error-message text-primary font-italic">* Complete the Name as per
                                                    NRIC filed.</small>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label class="bt1">Passport No:</label>
                                                <input type="text" class="form-control" placeholder="e.g. 888888-88-8888">
                                                <small class="error-message text-primary font-italic">* Complete the Passport No field.</small> 
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <p class="bt1">Date of Birth:</p>
                                            <div class="form-group variant-date-picker mb-0">
                                                <datepicker class="form-control" placeholder="DD/MM/YYYY"
                                                    :format="customDateFormatter">
                                                </datepicker>
                                                {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                            </div>
                                            <small class="error-message text-primary font-italic">* Please enter valid
                                                DOB.</small>
                                        </div>
                                    </div>
        
                                    <div class="d-flex justify-content-end">
                                        <a href="#" class="btn btn-primary btn-icon">
                                            <div class="button-icon">
                                                {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                            </div>
                                            <span class="button-text">Remove</span>
                                        </a>
                                    </div>
                                </div>
                            <!-- dummy html -->



                            <div class="bg-w py-5 px-4 mb-3" v-for="(member, index) in formData.familyMembers">
                                {% verbatim %}
                                <h2 class="p2">Family Member #{{index + 1}}</h2>
                                {% endverbatim %}

                                <p class="bt1">Traveller</p>
                                <div class="d-flex mb-4">
                                    <div class="form-check mb-1">
                                        <input :id="'relationToCustomer-1-' + index" class="form-check-input" type="radio"
                                            value="Spouse" v-model="member.relationToCustomer">
                                        <label :for="'relationToCustomer-1-' + index"
                                            class="form-check-label">Spouse</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input :id="'relationToCustomer-2-' + index" class="form-check-input" type="radio"
                                            value="Child (30 days - 17 years old)" v-model="member.relationToCustomer">
                                        <label :for="'relationToCustomer-2-' + index" class="form-check-label">Child (30
                                            days - 17 years old)</label>
                                    </div>
                                </div>

                                <p class="bt1">Nationality</p>
                                <div class="d-flex mb-4">
                                    <div class="form-check mb-1">
                                        <input :id="'nationality-1-' + index" type="radio" class="form-check-input"
                                            value="Malaysian" v-model="member.nationality">
                                        <label :for="'nationality-1-' + index" class="form-check-label">Malaysian</label>
                                    </div>
                                    <div class="form-check mb-1">
                                        <input :id="'nationality-2-' + index" type="radio" class="form-check-input"
                                            value="Non-Malaysian" v-model="member.nationality">
                                        <label :for="'nationality-2-' + index"
                                            class="form-check-label">Non-Malaysian</label>
                                    </div>
                                </div>

                                <div class="row" v-if="member.nationality === 'Non-Malaysian'">
                                    <div class="col-12 col-md-6">
                                        <p class="bt1">Country</p>
                                        <div class="form-group">
                                            {% verbatim %}
                                            <select v-model="member.country" class="form-control">
                                                <option disabled hidden selected value="">Select a country</option>
                                                <option v-for="country in allCountries"
                                                    v-bind:key="allCountries.indexOf(country)" :value="country">
                                                    {{ country }}</option>
                                            </select>
                                            {% endverbatim %}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Name (as per NRIC):</label>
                                            <input type="text" class="form-control" placeholder="e.g. Lisa Teo"
                                                v-model="member.name">
                                            <small class="error-message text-primary font-italic">* Complete the Name as per
                                                NRIC filed.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">NRIC No:</label>
                                            <input type="text" class="form-control" placeholder="e.g. 888888-88-8888"
                                                v-model="member.nric">
                                            <small class="error-message text-primary font-italic">* Complete the NRIC
                                                field.</small>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6" v-if="member.nationality === 'Non-Malaysian'">
                                        <p class="bt1">Date of Birth:</p>
                                        <div class="form-group variant-date-picker mb-0">
                                            <datepicker class="form-control" placeholder="DD/MM/YYYY"
                                                :format="customDateFormatter" v-model="member.dateOfBirth">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                        <small class="error-message text-primary font-italic">* Please enter valid
                                            DOB.</small>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-primary btn-icon"
                                        @click.prevent="removeFamilyMember(member)">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Remove</span>
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mb-3">
                                <a href="#" @click.prevent="addFamilyMember()" class="btn btn-secondary btn-icon">
                                    <div class="button-icon">
                                        {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                    </div>
                                    <span class="button-text">Add family</span>
                                </a>
                            </div>

                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary"
                                    @click.prevent="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary"
                                    @click.prevent="goToNextStep()">Continue</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0"
                        @click="goToPrevStep()">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                </div>
            </div>

            <div class="wizard-section-4" :class="{ 'd-none': currStep && currStep.step !== 4 }">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="bg-w pt-5 pb-3 px-4 mb-3">
                                <h2 class="p2 mb-4">Personal Details</h2>

                                {% set personalDetails = [
                                    { title: 'Name (as per NRIC):', vModel: 'formData.customerName', error: "* Complete the Name as per NRIC filed."},
                                    { title: 'NRIC No:', vModel: 'formData.nric', error: "* Complete the NRIC field."},
                                    { title: 'Email:', vModel: 'formData.email', error: "* Complete the Email field."},
                                    { title: 'Mobile No:', vModel: 'formData.mobileNo', error: "* Complete the Mobile field."}
                                ] %}

                                <div class="row">
                                    {% for item in personalDetails %}
                                        <div class="col-12 col-md-6">
                                            <p class="bt1 mb-0">{{ item.title }}</p>
                                            <p class="bt2" v-html="{{ item.vModel }}" v-if="!personalEditMode"></p>

                                            <div class="form-group" v-if="personalEditMode">
                                                <input type="text" class="form-control" v-model="{{ item.vModel }}">
                                                <small class="error-message text-primary font-italic">{{ item.error }}</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class="col-12 col-md-6">
                                        <p class="bt1 mb-0">Address:</p>
                                        {% verbatim %}    
                                        <p class="bt2" v-if="!personalEditMode">{{ fullAddress }}</p>
                                        <div class="form-group" v-if="personalEditMode">
                                            <input type="text" class="form-control" v-model="formData.addressLine1">
                                            <small class="error-message text-primary font-italic">* Complete the Address field.</small>
                                        </div>
                                        <div class="form-group" v-if="personalEditMode">
                                            <input type="text" class="form-control" v-model="formData.addressLine2">
                                        </div>
                                        {% endverbatim %}
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end" v-if="!personalEditMode">
                                    <a href="#" @click.prevent="setPersonalEditMode(true)" class="btn btn-secondary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Edit</span>
                                    </a>
                                </div>

                                <div class="d-flex justify-content-end mt-3" v-if="personalEditMode">
                                    <a href="#" @click.prevent="setPersonalEditMode(false)" class="btn btn-primary btn-icon mr-3">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Cancel</span>
                                    </a>
                                    <a href="#" @click.prevent="setPersonalEditMode(false)" class="btn btn-default btn-secondary">Save</a>
                                </div>

                            </div>

                            <div class="bg-w pt-5 pb-3 px-4 mb-3">
                                <h2 class="p2 mb-4">Spouse</h2>

                                <div class="row">
                                    <div class="col-12">
                                        <p class="bt1 mb-0">Nationality</p>
                                        <p class="bt2">Non-Malaysian</p>
                                        <div class="d-flex mb-4">
                                            <div class="form-check mb-1">
                                                <input type="radio" class="form-check-input" value="Malaysian">
                                                <label class="form-check-label">Malaysian</label>
                                            </div>
                                            <div class="form-check mb-1">
                                                <input type="radio" class="form-check-input" value="Non-Malaysian" checked>
                                                <label class="form-check-label">Non-Malaysian</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                {% set nomineeDetails = [
                                    { title: 'Name (as per NRIC):', vModel: 'formData.nomineeName', error: "* Complete the Name as per NRIC filed." },
                                    { title: 'NRIC No:', vModel: 'formData.nomineeNric', error: "* Complete the NRIC field." },
                                    { title: 'Mobile No:', vModel: 'formData.nomineeMobileNo', error: "* Complete the Mobile field." },
                                    { title: 'Relationship:', vModel: 'formData.nomineeRelationToCustomer', error: "* Complete the Relationship field." },
                                ] %}

                                

                                <div class="row">
                                    {% for item in nomineeDetails %}
                                        <div class="col-12 col-md-6">
                                            <p class="bt1 mb-0">{{ item.title }}</p>
                                            <p class="bt2" v-if="!nomineeEditMode" v-html="{{ item.vModel }}"></p>
                                            <div class="form-group" v-if="nomineeEditMode">
                                                <input type="text" class="form-control" v-model="{{ item.vModel }}">
                                                <small class="error-message text-primary font-italic">{{ item.error }}</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-end" v-if="!nomineeEditMode">
                                    <a href="#" @click.prevent="setNomineeEditMode(true)" class="btn btn-secondary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Edit</span>
                                    </a>
                                </div>

                                <div class="d-flex justify-content-end mt-3" v-if="nomineeEditMode">
                                    <a href="#" @click.prevent="setNomineeEditMode(false)" class="btn btn-primary btn-icon mr-3">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Cancel</span>
                                    </a>
                                    <a href="#" @click.prevent="setNomineeEditMode(false)" class="btn btn-default btn-secondary">Save</a>
                                </div>
                            </div>



                            <div class="bg-w pt-5 pb-3 px-4 mb-3">
                                <h2 class="p2 mb-4">Nominee Details</h2>

                                {% set nomineeDetails = [
                                    { title: 'Name (as per NRIC):', vModel: 'formData.nomineeName', error: "* Complete the Name as per NRIC filed." },
                                    { title: 'NRIC No:', vModel: 'formData.nomineeNric', error: "* Complete the NRIC field." },
                                    { title: 'Mobile No:', vModel: 'formData.nomineeMobileNo', error: "* Complete the Mobile field." },
                                    { title: 'Relationship:', vModel: 'formData.nomineeRelationToCustomer', error: "* Complete the Relationship field." },
                                ] %}

                                <div class="row">
                                    {% for item in nomineeDetails %}
                                        <div class="col-12 col-md-6">
                                            <p class="bt1 mb-0">{{ item.title }}</p>
                                            <p class="bt2" v-if="!nomineeEditMode" v-html="{{ item.vModel }}"></p>
                                            <div class="form-group" v-if="nomineeEditMode">
                                                <input type="text" class="form-control" v-model="{{ item.vModel }}">
                                                <small class="error-message text-primary font-italic">{{ item.error }}</small>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-end" v-if="!nomineeEditMode">
                                    <a href="#" @click.prevent="setNomineeEditMode(true)" class="btn btn-secondary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Edit</span>
                                    </a>
                                </div>

                                <div class="d-flex justify-content-end mt-3" v-if="nomineeEditMode">
                                    <a href="#" @click.prevent="setNomineeEditMode(false)" class="btn btn-primary btn-icon mr-3">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Cancel</span>
                                    </a>
                                    <a href="#" @click.prevent="setNomineeEditMode(false)" class="btn btn-default btn-secondary">Save</a>
                                </div>
                            </div>

                            {% embed "templates/components/input-variant-checkbox.twig" with {
                                name: 'tncAgreement',
                                vModel: 'formData.tncAgreement',
                                spacing: 'mb-3'
                            } %}
                                {% block content %}
                                    By ticking this box, I hereby acknowledge that I have read the <a href="#" class="underline">Product Disclosure Sheet</a> and agree to the <a href="#" class="underline">Terms and Conditions</a>.
                                {% endblock %}
                            {% endembed %}

                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()">Continue</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click="goToPrevStep()">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                </div>
            </div>

            <div class="wizard-section-5" :class="{ 'd-none': currStep && currStep.step !== 5 }">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4">Payment</h2>
                               
                                <div class="vertical-scroller mb-5">
                                    <div class="d-flex">
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "Online Banking",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">Online Banking</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'fpx', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "Credit/Debit Card",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">Credit/Debit Card</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'credit-card', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                        {% embed "templates/components/selection-infobox.twig" with {
                                            type: "radio",
                                            name: "choosePayment",
                                            value: "E-Wallet",
                                            classes: "mb-3 mb-lg-0 mr-3",
                                            vModel: 'formData.paymentMethod'
                                        
                                        } %}
                                            {% block top %}
                                                <h3 class="m-0">E-Wallet</h3>
                                            {% endblock %}

                                            {% block icon %}
                                                {% include "templates/components/icon.twig" with { iconName: 'ewallets', iconSize: '4xl' } %}
                                            {% endblock %}
                                        {% endembed %}
                                    </div>  
                                </div>

                                <div v-if="formData.paymentMethod === 'Credit/Debit Card'">
                                    <img src="assets/img/visa-master-logo.jpg" alt="Visa and Mastercard logo" class="img-fluid mb-4">
                                    <div class="row">
                                        <div class="col-12 col-md-7">
                                            <div class="form-group">
                                                <label class="bt1">Card Number:</label>
                                                <input class="form-control" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" name="cardNumber">
                                                <small class="error-message text-primary font-italic">* Complete the Name as per card field.</small>
                                            </div>
                                            <div class="form-group">
                                                <label class="bt1">Name on Card:</label>
                                                <input class="form-control" type="text" placeholder="Name on Card" name="nameOnCard">
                                                <small class="error-message text-primary font-italic">* Please enter a valid Visa / MasterCard No.</small>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-7">
                                                    <label class="bt1">Expiration Date:</label>
                                                    <input class="form-control" type="text" placeholder="MM/YY" name="expirationDate">
                                                    <small class="error-message text-primary font-italic">* Complete the Expiry (MM/YY) field.</small>
                                                </div>
                                                <div class="form-group col-5">
                                                    <label class="bt1">CVV:</label>
                                                    <input class="form-control" type="text" placeholder="xxx" name="CVV">
                                                    <small class="error-message text-primary font-italic">* Complete the CVC field.</small>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div v-if="formData.paymentMethod === 'Online Banking'">
                                    <p class="bt1 mb-2">Bank:</p>

                                    {% verbatim %}
                                    <select class="form-control">
                                        <option disabled hidden selected value="">Select a Bank</option>
                                        <option v-for="(bank, index) in banks"
                                            v-bind:key="index" :value="bank.name">
                                            {{ bank.name }}</option>
                                    </select>
                                    {% endverbatim %}

                                    <p><small>Note: You need to have an active internet banking account with any of the FPX performing banks to use FPX.</small></p>

                                    <p class="bt1 mb-2">Email Address: <small class="font-italic">(For transaction status)</small></p>
                                    
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="e.g. hteoro@gmail.com">
                                                <small class="error-message text-primary font-italic">* Complete the Email field.</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div v-if="formData.paymentMethod === 'E-Wallet'">
                                    <p class="bt1">Select Your Preferred E-Wallet:</p>
                                    {% include "templates/components/list-variant-bank.twig" with {
                                        banks: [
                                            { img: 'boost.jpg', name: 'Boost' }
                                        ]
                                    } %}
                                </div>

                            </div>
                            <div class="pt-4 wizard-navigation d-none d-md-flex">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="/payment-completed.html" role="button" class="btn btn-default btn-primary">Pay Now</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation d-md-none">
                    <p v-if="formData.paymentMethod === 'Online Banking'" class="bt2 mb-5">By clicking <strong>"Pay Now"</strong> button, you agree to FPX's <a href="#" target="_blank">Terms & Conditions</a>.</p>

                    <a href="#" role="button" class="btn btn-default btn-outline-primary mb-3 mb-md-0" @click.prevent="goToPrevStep()">Back</a>
                    <a href="/payment-completed.html" role="button" class="btn btn-default btn-primary">Pay Now</a>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}