{% extends "templates/partials/base.twig" %}

{% block main %}

    <div class="form-wizard" id="travel-form">
        <div class="container py-5">
            <h1>Travel Insurance</h1>
            {% include "templates/components/steppers.twig" %}
        </div>

        <div class="bg-p2d py-5 wizard-sections">
            <div class="wizard-section-1" :class="{ 'd-none': currStep && currStep.step !== 1 }">
                <div class="container bg-w py-5 px-4">
                
                    <h2 class="p2">Get Started</h2>
                    
                    <div :class="{
                        'bt2': true,
                        'd-none': !showGetStartedConsent
                    }">
                        <p>
                            Please make sure you meet the following conditions.
                        </p>
                        <ol class="pl-3">
                            <li>The journey you intend to insure begins ans ends in Malaysia, except for Single Trip One-Way Cover.</li>
                            <li>You are between 18 and 70 years of age.</li>
                        </ol>
                        <p><strong>Note:</strong></p>
                        <p>Please contact _____ for your insurance application if:</p>
                        <ol class="roman pl-3">
                            <li>You are above 70 years of age; <strong>OR</strong></li>
                            <li>You are purchasing travel insurance only for your child (below 18 years of age)</li>
                        </ol>
                    </div>

                    <div :class="{
                        'bt2': true,
                        'd-none': showGetStartedConsent
                    }">
                        <p>Please enter the details of the insured person</p>
                        <div class="d-flex mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="id_type" value="NRIC" id="id_type1" v-model="formData.idType">
                                <label class="form-check-label" for="id_type1">NRIC</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="id_type" value="Passport" id="id_type2" v-model="formData.idType">
                                <label class="form-check-label" for="id_type2">Passport</label>
                            </div>
                        </div>

                        <div class="d-flex" v-if="formData.idType === 'NRIC'">
                            <div class="form-group">
                                <input type="text" class="form-control" name="nric" placeholder="xxxxxx-xx-xxxx" v-model="formData.nric">
                            </div>
                        </div>

                        <div v-if="formData.idType === 'Passport'">
                            <div class="d-md-flex">
                                <div class="form-group mr-md-3">
                                    <select class="form-control" id="country" name="country">
                                        <option disabled hidden selected>Select country</option>
                                        <option>Malaysia</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" name="passport" placeholder="Passport No." v-model="formData.passport">
                                </div>
                            </div>
                            <p class="bt1">Date of Birth:</p>
                            <div class="d-md-flex">
                                <div class="form-group variant-date-picker">
                                    <datepicker class="form-control"
                                        placeholder="DD/MM/YYYY"
                                        :format="customDateFormatter"
                                        v-model="formData.dateOfBirth">
                                    </datepicker>
                                    {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                </div>
                            </div>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="agreement" id="agreement" v-model="formData.pdpaAgreement">
                            <label class="form-check-label" for="agreement">
                                I have read and understood MSIG's <a href="#">Privacy Notice</a> and agree to MSIG processing my personal data for the purposes and in the manners set out in the Privacy Notice.
                            </label>
                            <svg class="icon icon-m tick-mark">
                                <use xlink:href="assets/icons/icons.svg#sprite-tick-mark" href="assets/icons/icons.svg#sprite-tick-mark"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary" v-if="showGetStartedConsent">No</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="setShowGetStartedConsent(false)" v-if="showGetStartedConsent">Yes</a>
                    <a href="#" role="button" class="btn btn-default btn-outline-primary" @click="setShowGetStartedConsent(true)" v-if="!showGetStartedConsent">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()" v-if="!showGetStartedConsent">Continue</a>
                </div>
            </div>

            <div class="wizard-section-2" :class="{ 'd-none': currStep && currStep.step !== 2 }">
                <div class="container py-5">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Choose a Plan</h2>

                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'coverageType',
                                    formControls: [
                                        { value: 'Single Trip' },
                                        { value: 'Annual Cover' },
                                    ],
                                    spacing: 'mb-4'
                                } %}

                                {% verbatim %}    
                                    <div class="d-md-flex">
                                        <div class="form-group">
                                            <label class="bt1" for="areaOfCoverage">Area of Coverage</label>
                                            <select name="areaOfCoverage" id="areaOfCoverage" class="form-control" v-model="formData.areaOfCoverage">
                                                <option :value="area.name" v-for="area in coverageAreas" v-bind:key="coverageAreas.indexOf(area)">
                                                    {{ area.name }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="bt2">
                                        <p>Locations covered in this area of coverage:</p>
                                        <p>{{ countriesForCurrArea }}</p>
                                    </div>
                                {% endverbatim %}


                                <div class="area-of-coverage text-center mb-5">
                                    <img src="assets/img/area-1.jpg" 
                                        alt="Area 1" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 1'
                                        }">
                                    <img src="assets/img/area-2.jpg" 
                                        alt="Area 2" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 2'
                                        }">
                                    <img src="assets/img/area-3.jpg" 
                                        alt="Area 3" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 3'
                                        }">
                                    <img src="assets/img/area-4.jpg" 
                                        alt="Area 4" 
                                        :class="{
                                            'img-fluid': true,
                                            'd-none': formData.areaOfCoverage !== 'Area 4'
                                        }">
                                </div>

                                <h2 class="p2 mb-4">Period of Coverage</h2>
                                <div class="d-flex justify-content-between mb-4">
                                    <div>
                                        <p class="bt1">Start Date</p>
                                        <div class="form-group variant-date-picker">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.startDate">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                    </div>

                                    <div>
                                        <p class="bt1">End Date</p>
                                        <div class="form-group variant-date-picker">
                                            <datepicker class="form-control"
                                                placeholder="Select date"
                                                :format="customDateFormatter"
                                                v-model="formData.endDate">
                                            </datepicker>
                                            {% include "templates/components/icon.twig" with { iconName: 'calendar' } %}
                                        </div>
                                    </div>
                                </div>
                                <div class="bt2">
                                    <p>Please note that your coverage will terminate at the earliest happening of the following:</p>
                                    <ol>
                                        <li>24 hours upon your arrival in Malaysia</li>
                                        <li>Upon reaching your home or workplace in Malaysia (whichever is the earlier)</li>
                                        <li>Expiry date of your travel insurance policy</li>
                                    </ol>
                                    <p>The following benefits will not be applicable for travel insurance purchased less than 7 days from travel start date:</p>
                                    <ol>
                                        <li>Section 7: Travel Cancellation</li>
                                        <li>Section 14: Loss of Travel Deposit</li>
                                    </ol>
                                </div>
                            </div>

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Please Select Your Preferred Plan</h2>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="h2">TravelRight Plus</p>
                                        <p class="bt1">Benefits</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Medical & Other Expenses' },
                                                { iconName: 'tick-mark', content: 'Luggage & Personal Effects' },
                                                { iconName: 'tick-mark', content: 'Luggage & Delay (Every 6 hours)' },
                                                { iconName: 'tick-mark', content: 'Travel Delay (Every 6 hours)' },
                                            ]
                                        } %}
                                        <p class="bt2">View the full benefits <strong><a href="#">HERE</a></strong></p>
                                    </div>
                                    <div class="col-8"></div>
                                </div>
                            </div>

                             <div class="bg-w py-5 px-4">
                                <h2 class="p2">Choose Your Optional Add-On</h2>
                                <div class="row">
                                    <div class="col-4">
                                        <p class="h2">Sports Fan</p>
                                        <p class="bt1">Travelling and can’t wait to cheer for your favourite sports team? Make sure you are covered with the Sports Fans add-on for additional protection!</p>
                                        {% include "templates/components/list-variant-icon.twig" with {
                                            items: [
                                                { iconName: 'tick-mark', content: 'Additional Indemnity for Personal Accident' },
                                                { iconName: 'tick-mark', content: 'Extended Accommodation Cover' },
                                                { iconName: 'tick-mark', content: 'Ticket Cover' },
                                                { iconName: 'tick-mark', content: 'Transportation Amendment Fee' },
                                            ]
                                        } %}
                                        <p class="bt2">View the full benefits <strong><a href="#">HERE</a></strong></p>
                                    </div>
                                    <div class="col-8"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary" @click="goToPrevStep()">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                </div>
            </div>

            <div class="wizard-section-3" :class="{ 'd-none': currStep && currStep.step !== 3 }">
                <div class="container py-5 px-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-w py-5 px-4">
                                <h2 class="p2">Personal Details</h2>

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="customerName" class="bt1">Name (as per NRIC):</label>
                                            <input id="customerName" type="text" class="form-control" placeholder="e.g. Henry Teo">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="nricNo" class="bt1">NRIC No:</label>
                                            <input id="nricNo" disabled type="text" class="form-control" placeholder="NRIC" v-model="formData.nric">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="customerEmail" class="bt1">Email:</label>
                                            <input id="customerEmail" type="text" class="form-control" placeholder="e.g. hteoro@gmail.com">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="mobileNo" class="bt1">Mobile No:</label>
                                            <input id="mobileNo" type="text" class="form-control" placeholder="e.g. 01x-xxxxxxx">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="address1" class="bt1">Address:</label>
                                            <input id="address1" type="text" class="form-control" placeholder="First Line">
                                        </div>
                                        <div class="form-group">
                                            <input id="address2" type="text" class="form-control" placeholder="Second Line">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group variant-icon">
                                            <label for="postcode" class="bt1">Postcode</label>
                                            <div class="input-wrapper">
                                                <input id="postcode" type="text" class="form-control" placeholder="Find postcode">
                                                {% include "templates/components/icon.twig" with { iconName: 'search', iconSize: 'm' } %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="city" class="bt1">City:</label>
                                            <input id="city" type="text" class="form-control" disabled placeholder="City">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label for="state" class="bt1">State:</label>
                                            <input id="state" type="text" class="form-control" disabled placeholder="State">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="d-flex justify-content-end mb-3">
                                <a href="#" class="btn btn-secondary btn-icon">
                                    <div class="button-icon">
                                        {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                    </div>
                                    <span class="button-text">Add family</span>
                                </a>
                            </div>

                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2">Family Member #1</h2>

                                <p class="bt1">Traveller</p>
                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'relationToCustomer',
                                    formControls: [
                                        { value: 'Spouse' },
                                        { value: 'Child (30 days - 17 years old)' }
                                    ],
                                    spacing: 'mb-4'
                                } %}
                                
                                <p class="bt1">Nationality</p>
                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'nationality',
                                    formControls: [
                                        { value: 'Malaysian' },
                                        { value: 'Non-Malaysian' }
                                    ],
                                    spacing: 'mb-4'
                                } %}

                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Name (as per NRIC):</label>
                                            <input type="text" class="form-control" placeholder="e.g. Lisa Teo">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">NRIC No:</label>
                                            <input type="text" class="form-control" placeholder="e.g. 888888-88-8888">
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="#" class="btn btn-primary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'close', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Remove</span>
                                    </a>
                                </div>
                            </div>

                            <div class="pt-4 wizard-navigation">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                            </div>
                        </div>
                        <div class="col-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="wizard-section-4" :class="{ 'd-none': currStep && currStep.step !== 4 }">
                <div class="container py-5 px-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-w py-5 px-4">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Name (as per NRIC):</label>
                                            <input type="text" class="form-control" placeholder="e.g. Henry Teo">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">NRIC No:</label>
                                            <input type="text" class="form-control" placeholder="e.g. 888888-88-8888">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Mobile No:</label>
                                            <input type="text" class="form-control" placeholder="e.g. 01X-XXXXXXX">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="form-group">
                                            <label class="bt1">Relationship</label>
                                            <input type="text" class="form-control" placeholder="e.g. Father">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-4 wizard-navigation">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep()">Continue</a>
                            </div>
                        </div>
                        <div class="col-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="wizard-section-5" :class="{ 'd-none': currStep && currStep.step !== 5 }">
                <div class="container py-5 px-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-w pt-5 pb-3 px-4 mb-3">
                                <h2 class="p2 mb-4">Personal Details</h2>

                                {% set personalDetails = [
                                    { title: 'Name (as per NRIC):', content: 'Henry Teo' },
                                    { title: 'NRIC No:', content: '901010-14-5021' },
                                    { title: 'Email:', content: 'henryto@gmail.com' },
                                    { title: 'Mobile No:', content: '012-216 2534' },
                                    { title: 'Address:', content: '7, Lorong Bahagia 2, TTDI, 60000 Kuala Lumpur, Wilayah Persekutuan, Malaysia' }
                                ] %}

                                <div class="row">
                                    {% for item in personalDetails %}
                                        <div class="col-12 col-md-6">
                                            <p class="bt1 mb-0">{{ item.title }}</p>
                                            <p class="bt2">{{ item.content }}</p>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="#" @click.prevent="changeStep(3)" class="btn btn-secondary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Edit</span>
                                    </a>
                                </div>
                            </div>

                            <div class="bg-w pt-5 pb-3 px-4 mb-3">
                                <h2 class="p2">Nominee Details</h2>

                                {% set nomineeDetails = [
                                    { title: 'Name (as per NRIC):', content: 'Teo Wei Ming' },
                                    { title: 'NRIC No:', content: '801116-14-5497' },
                                    { title: 'Mobile No:', content: '017-216 2534' },
                                    { title: 'Relationship:', content: 'Father' },
                                ] %}

                                <div class="row">
                                    {% for item in nomineeDetails %}
                                        <div class="col-12 col-md-6">
                                            <p class="bt1 mb-0">{{ item.title }}</p>
                                            <p class="bt2">{{ item.content }}</p>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="d-flex justify-content-end">
                                    <a href="#" @click.prevent="changeStep(4)" class="btn btn-secondary btn-icon">
                                        <div class="button-icon">
                                            {% include "templates/components/icon.twig" with { iconName: 'plus', iconSize: 's' } %}
                                        </div>
                                        <span class="button-text">Edit</span>
                                    </a>
                                </div>
                            </div>

                            {% embed "templates/components/input-variant-checkbox.twig" with {
                                name: 'tncAgreement',
                                vModel: 'formData.tncAgreement'
                            } %}
                                {% block content %}
                                    By ticking this box, I hereby acknowledge that I have read the <a href="#">Product Disclosure Sheet</a> and agree to the <a href="#">Terms and Conditions</a>.
                                {% endblock %}
                            {% endembed %}

                            <div class="pt-4 wizard-navigation">
                                <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()">Continue</a>
                            </div>
                        </div>
                        <div class="col-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="wizard-section-6" :class="{ 'd-none': currStep && currStep.step !== 6 }">
                <div class="container py-5 px-4">
                    <div class="row">
                        <div class="col-8">
                            <div class="bg-w py-5 px-4 mb-3">
                                <h2 class="p2 mb-4">Payment</h2>
                                {% include "templates/components/input-variant-radio.twig" with {
                                    name: 'paymentMethod',
                                    formControls: [
                                        { value: 'Credit/Debit Card' },
                                        { value: 'Online Banking' },
                                        { value: 'E-Wallet' },
                                    ],
                                    spacing: 'mb-5',
                                    vModel: 'formData.paymentMethod'
                                } %}

                                <template v-if="formData.paymentMethod === 'Credit/Debit Card'">
                                    <img src="assets/img/visa-master-logo.jpg" alt="Visa and Mastercard logo" class="img-fluid mb-4">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label class="bt1">Card Number:</label>
                                                <input class="form-control" type="text" placeholder="xxxx-xxxx-xxxx-xxxx" name="cardNumber">
                                            </div>
                                            <div class="form-group">
                                                <label class="bt1">Name on Card:</label>
                                                <input class="form-control" type="text" placeholder="Name on Card" name="nameOnCard">
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-7">
                                                    <label class="bt1">Expiration Date:</label>
                                                    <input class="form-control" type="text" placeholder="MM/YY" name="expirationDate">
                                                </div>
                                                <div class="form-group col-5">
                                                    <label class="bt1">CVV:</label>
                                                    <input class="form-control" type="text" placeholder="xxx" name="CVV">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </template>

                                <template v-if="formData.paymentMethod === 'Online Banking'">
                                    <p class="bt1">Payee Email Address:</p>
                                    <p class="bt2">Please enter your email address below if you would like to have a digital receipt of your purchase.</p>
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="e.g. hteoro@gmail.com">
                                            </div>
                                        </div>
                                    </div>

                                    {% set banks = [
                                        { img: 'maybank.jpg', name: 'Maybank2U' },
                                        { img: 'maybank.jpg', name: 'Maybank2E' },
                                        { img: 'ocbc.jpg', name: 'OCBC Bank' },
                                        { img: 'rhb.jpg', name: 'RHB' },
                                        { img: 'standard-chartered.jpg', name: 'Standard Chartered' },
                                        { img: 'uob.jpg', name: 'UOB Bank' },
                                        { img: 'ambank.jpg', name: 'AmBank' },
                                        { img: 'bank-islam.jpg', name: 'Bank Islam' },
                                        { img: 'bank-rakyat.jpg', name: 'Bank Rakyat' },
                                        { img: 'bank-muamalat.jpg', name: 'Bank Muamalat' },
                                        { img: 'bsn.jpg', name: 'BSN' },
                                        { img: 'cimb.jpg', name: 'CIMB Clicks' },
                                        { img: 'hlb.jpg', name: 'Hong Leong Bank' },
                                        { img: 'hsbc.jpg', name: 'HSBC Bank' },
                                        { img: 'kuwait.jpg', name: 'KFH' },
                                        { img: 'public.jpg', name: 'Public Bank' },
                                        { img: 'alliance.jpg', name: 'Alliance Bank' },
                                        { img: 'affin.jpg', name: 'Affin Bank' },
                                    ] %}

                                    <div class="list variant-bank-list">
                                        {% for bank in banks %}
                                            <div class="list-item">
                                                <input type="radio" name="bank" id="paymentMethod{{ loop.index }}">
                                                <label for="paymentMethod{{ loop.index }}">{{ bank.name }}</label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </template>

                                <template v-if="formData.paymentMethod === 'E-Wallet'">
                                
                                </template>

                                <div class="pt-4 wizard-navigation">
                                    <a href="#" role="button" class="btn btn-default btn-outline-primary" @click.prevent="goToPrevStep()">Back</a>
                                    <a href="#" role="button" class="btn btn-default btn-primary" @click.prevent="goToNextStep()">Pay Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            {% include "templates/components/summary-pane.twig" %}
                        </div>
                    </div>
                </div>
                <div class="container pt-4 wizard-navigation">
                    <a href="#" role="button" class="btn btn-default btn-outline-primary" @click="goToPrevStep($event)">Back</a>
                    <a href="#" role="button" class="btn btn-default btn-primary" @click="goToNextStep($event)">Continue</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}