{% extends "templates/partials/base.twig" %}

{% block main %}

<div class="travel-details ttk-wrapper bg-lightGrey">

    <div class="jumbotron text-center mb-0 align-items-center d-flex  justify-content-center bg-ttk"
        style="background:url(../../src/assets/img/ttk-bg.png) no-repeat; background-size: cover; background-position: center;">

        <div>
            <!-- <img src="assets/img/travelright-icon-white.png"> -->
            {% include "templates/components/icon.twig" with { iconName: 'wedding-ring', iconSize:'5xl'} %}
            <h1 class="w mb-3">Tie The Knot Insurance</h1>
            <a href="./form.html" role="button" class="mt-5 btn btn-l btn-default btn-primary">Apply Now</a>

        </div>
    </div>

    {% include "templates/components/subnav-pdp.twig" with { 
        subnavclass : 'subnav-ttk-wrapper',
        title1 : 'ABOUT',
        title2 : 'BENEFITS',
        title3 : 'PREMIUM',
        title4 : 'LEARN MORE'
    } %}


    <div class="container mt-md-5 mt-4 pt-2 pt-md-0">
        <p class="bt4"><b>MSIG’s Tie The Knot Insurance</b> provides protection for your wedding ceremony or reception
            against any unforeseen circumstances that may impact your special day. The policy provides for compensation
            of irrecoverable expenses in the event of unavoidable cancellation or curtailment, as well for additional
            costs incurred for the rearrangement of your wedding. Other benefits include a personal accident cover for
            the bride and groom, coverage for the wedding attire, and much more.
        </p>
        <p class="bt4">
            This product is available to all Malaysians or Permanent Residents residing in Malaysia between eighteen
            (18) to seventy (70) years of age.
        </p>

        <div class="divider mt-4 mt-md-5 bg-p2c "></div>
    </div>

    <div class="container mt-md-5 mt-4 mb-4 pt-2 pt-md-0">
        <h1> Benefits </h1>
    </div>

    {% include "templates/components/ttk-pdp-table.twig" %}



    <div class="bg-darkGrey pt-md-5 pt-4 mt-3 mt-md-0 pb-5">
        <div class="container static-pdp-table pt-md-2 ">
            <h1 class=" mb-3 mb-md-5">Premium</h1>
            <div class="row  main-title d-block d-md-flex align-items-center h-line">
                <div class="col-4">
                    <p class=" font-weight-bold mb-0 bt5 color-black"></p>
                </div>
                <div class="col bg-w h-100 d-flex align-items-center justify-content-center bg-lightGrey ">
                    <p class=" font-weight-bold mb-0 text-center bt5 color-black">Plans (RM)</p>
                </div>
            </div>

            <div class="  main-title row align-items-center h-line">
                <div class="col-4 d-none d-md-block">
                    <p class=" font-weight-bold mb-0 bt5 color-black"> Premium</p>
                </div>
                <div class="col-md-4 col-6 bg-w h-100 d-flex align-items-center justify-content-center bg-white ">
                    <p class=" font-weight-bold mb-0 text-center bt5 color-black"> 1 Year Cover</p>
                </div>
                <div class="col-md-4 col-6 bg-w h-100 d-flex align-items-center justify-content-center bg-red ">
                    <p class=" font-weight-bold mb-0 text-center bt5 color-white">2 Years Cover</p>
                </div>
            </div>

            {% set staticTableRow = [
                { title: 'Premium Payable', content1: '380.00', content2: '500.00'},
                { title: 'Less 25% Rebate', content1: '95.00', content2: '125.00'},
                { title: 'Plus 6% Service Tax', content1: '17.10', content2: '22.50'},
                { title: 'Plus Stamp Duty ', content1: '10.00', content2: '10.00'},
                { contentClass: 'lastRowBlue', titleClass:"lastRowTitle justify-content-center justify-content-md-start", title: 'Total Premium', content1: '312.10', content2: '407.50' },
            ] %}

            {% for item in staticTableRow %}

            <div class="row table-content align-items-center h-line {{item.contentClass}}">
                <div class="col-12 col-md-4 title d-flex align-items-center mt-2 mt-md-0 {{item.titleClass}}">
                    <p class=" font-weight-bold bt2 mb-0 color-black">{{item.title}}
                    </p>
                </div>

                <div
                    class="col-6 col-md-4 bg-w content-box d-flex align-items-center justify-content-center text-center  bg-white ">

                    <div class="col-12 title p-0 d-flex align-items-center justify-content-center  ">
                        <p class=" bt2 mb-0 color-black font-weight-bold">{{item.content1}}
                        </p>
                    </div>

                </div>
                <div
                    class="col-6 col-md-4 bg-p1 content-box d-flex align-items-center justify-content-center text-center  ">

                    <div class="col-12 title p-0 d-flex align-items-center  justify-content-center">
                        <p class=" bt2 mb-0 color-white font-weight-bold">{{item.content2}}</p>
                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>



    <div class="bg-w pt-5 pb-4">
        <div class="container">
            <h1 class=" mb-3 font-weight-bold">Learn More</h1>
            <p class="bt4">MSIG Tie The Knot Insurance ensures that the expenditures you have devoted for your special
                day are covered. </p>
            <p class="bt4 font-weight-bold">Download the coverage details below to learn more.</p>

            <div class="row mt-5">
                <a class="col-md-4 col-12 d-flex mb-4 align-items-center">
                    <span>
                        {% include "templates/components/icon.twig" with { iconName: 'pdf' , iconSize:'xxl' } %}</span>
                    <p class="ml-2 font-weight-normal p1 mb-0 bt4"> Product Disclosure Sheet - Tie The Knot </p>
                </a>
                <a class="col-md-4 col-12 d-flex align-items-baseline">
                    <span>{% include "templates/components/icon.twig" with { iconName: 'pdf' , iconSize:'xxl' } %}
                    </span>
                    <p class=" ml-2 font-weight-normal p1 mb-0 bt4 mt-4 mt-md-0">
                        Policy Wording- Tie The Knot</p>
                </a>

                <div class="col-4 d-none d-md-block"></div>
            </div>
        </div>

        <div class="d-flex justify-content-center mb-4">
            <a href="./form.html" role="button" class="mt-5 btn btn-l btn-default btn-primary">Apply Now</a>
        </div>

    </div>




</div>

{% endblock %}